<div class="container">
    <h1>Speisekarte</h1>
    <div class="row">
    <div class="col-8">
        <table class="table">
            <tbody>
                <% categories.forEach(function(category){ %>
                    <tr>
                        <td colspan="3" class="h4">
                            <%= category.name %> <BR>
                        </td>
                    </tr>
                    <% if (category.meals) { %>
                    <% category.meals.forEach(function(menu){ %>
                        <tr>
                            <td class="h6">
                                <%= menu.name %> <BR>
                                <span class="h7"><%= menu.description %></span>
                            </td>
                            <td class="h6">
                                <%= menu.price %> &euro;
                            </td>
                            <td>
                                <span class="badge badge-primary" onclick="showimage(event,'<%=  menu.image %>')">Bild</span>
                            </td>
                            <td>
                                <a class="badge badge-primary" href="/shoppingbasket/put/<%= menu.id %>">bestellen</a>
                            </td>
                        </tr>
                        <% }); %>
                        <% } %>
                    <% }); %>
            </tbody>
        </table>
        </div>
        <div class="col-4">
            <div id="foodie"></div>
        </div>
    </div>
            <% if(req.session.basket && req.session.basket.length> 0){ %>
            <a class="green-button" href="/order/step1">Bestellung abschliessen</a></li>
        <% } %>
</div>