<div class="container">
    <div class="mt-4">
        <h1>Bestellbestätigung:</h1>
        <div class="mb-4">
            <div class="h5">
                Bestellnummer:
                <%= order.id %>
            </div>
            <div class="h5">
                Adresse:
                <%= order.address %>
            </div>
            <div class="h5">
                Uhrzeit:
                <%= order.time %>
            </div>
            <ul class="list-group">
                <li class="list-group-item active">Speisen</li>
                <% order.meals.forEach(function(meal){ %>
                    <li class="list-group-item">
                        <%= meal.name %>
                    </li>
                <% }); %>
            </ul>
        </div>
    </div>
    <a class="btn btn-primary mb-4" href="/">Startseite</a>
</div>