<div class="container">
    <h1>Zusammenfassung der Bestellung</h1>

    <div class="mb-4">
        <div class="h5">
            Adresse:
            <%= order.address %>
        </div>
        <div class="h5">
            Uhrzeit:
            <%= order.time %>
        </div>
        <ul class="list-group">
            <li class="list-group-item active">Speisen</li>
            <% basket.forEach(function(meal){ %>
                <li class="list-group-item">
                    <%= meal.name %>
                </li>
            <% }); %>
        </ul>
    </div>

    <a class="btn btn-secondary mb-4" href="/order/step1">Zurück</a>
    <a class="btn btn-primary mb-4" href="/order/commit">Kostenpflichtig bestellen</a>

</div>