<div class="container">
    <h1>Speisen Bestellen</h1>
        <form action="/order/step2" method="POST">
            <input type="hidden" name="_csrf" value="<%= _csrf %>" />
            <div class="form-group">
                <label>Lieferort</label>
                <input type="text" class="form-control" size="120" name="ort">
            </div>
            <div class="form-group">
                <label>Lieferzeitpunkt</label>
                <input type="datetime" class="form-control" name="zeit">
            </div>
            <a class="btn btn-secondary mb-4" href="/menu">Zurück</a>
            <button class="btn btn-primary mb-4" type="submit">Weiter</button>
        </form>
</div>