<div class="container">
    <h1>Bestätigung</h1>

    <div>
        <div class="h4">
            Reservationsnummer: <%= reservation.id %>
        </div>
        <div class="h6">
            Datum: <%= new Date(reservation.date).toLocaleDateString("de-DE")  %>
        </div>
        <div class="h6">
            Platznummer(n):
            <% reservation.reservationItems.forEach(function(item,index){ %>
                <%= item.place %>
            <% }) %>
        </div>
    </div>
</div>