<% if(me) { %>
    <% if(req.me.isSuperAdmin) { %>
        <div class="container">
            <h2 class="mt-4">Willkommen in der Administrationsoberfläche</h2>
            <div class="card w-100 mt-4">
                <h4 class="card-header">
                    Speisekarte verwalten
                </h4>
                <div class="card-body text-center container">
                    <div class="row mt-4">
                        <div class="mb-4 col-sm-6 col-lg">
                            <a class="green-button" href="/meal/">Speisen anzeigen</a>
                        </div>
                        <div class="mb-4 col-sm-6 col-lg">
                            <a class="green-button" href="/meal/new">Speise hinzufügen</a>
                        </div>
                        <div class="mb-4 col-sm-6 col-lg">
                            <a class="green-button" href="/meal/newDialog">Speise mit Bild hinzufügen</a>
                        </div>
                        <div class="mb-4 col-sm-6 col-lg">
                            <a class="green-button" href="/category">Kategorien bearbeiten</a>
                        </div>
                    </div>
                </div>
                <div class="card w-100 mt-4">
                    <h4 class="card-header">
                        Bestellungen verwalten
                    </h4>
                    <div class="card-body text-center container">
                        <div class="row mt-4">
                            <div class="mb-4 col-sm">
                                <a class="green-button" href="/order/">Bestellungen anzeigen</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% } else { %>

            <div id="welcome">
                <div class="container pt-5 pb-5">
                    <h1>Wilkommen!</h1>
                    <hr />
                    <div class="card w-100 mt-4">
                        <h4 class="card-header">
                            Speisen
                        </h4>
                        <div class="card-body container">
                            <p>Bestellen Sie Essen und lassen Sie es sich liefern.</p>
                            <div class="row mt-4">
                                <div class="mb-4 col-sm">
                                    <a class="green-button" href="/menu">Zur Speisekarte</a>
                                </div>
                                <div class="mb-4 col-sm">
                                    <a class="green-button" href="/shoppingbasket">Zum Warenkorb</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card w-100 mt-4">
                        <h4 class="card-header">
                            Platzreservation
                        </h4>
                        <div class="card-body container">
                            <p>Reservieren Sie Liegestühle auf der Liegewiese und verwalten Sie Ihre Reservationen.
                            </p>
                            <div class="row mt-4">
                                <div class="mb-4 col-sm">
                                    <a class="green-button" href="/reservation/new">Liegestuhl reservieren</a>
                                </div>
                                <div class="mb-4 col-sm">
                                    <a class="green-button" href="/reservation">Reservationen verwalten</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
                <% } %>