<div class="container">
    <form action="/category" method="post">
        <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
        <div>
            <div class="form-group">
                <label class="col-form-label-lg">Name</label>
                <input type="text" class="form-control" name="name" maxlength="20" value="<%= name %>">
            </div>
            <div class="form-group">
                <label class="col-form-label-lg">Reihenfolge</label>
                <div class="alert alert-danger"><%= message %></div>
                <input type="number" class="form-control" name="ordernumber" min="0" max="100" type="number" value="<%= ordernumber %>">
            </div>
        </div>
        <button type="submit" class="green-button mt-4">Hinzufügen</button>
    </form>
</div>