<div class="container">
    <form action="/meal" method="post" onsubmit="return validate()">
        <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
        <div>
            <div class="form-group">
                <label class="col-form-label-lg">Name</label>
                <input type="text" class="form-control" maxlength="80" name="name">
            </div>
            <div class="form-group">
                <label class="col-form-label-lg">Preis</label>
                <div id="validationerror" class="alert alert-danger" style="display:none">Ungültiger Preis</div>
                <input type="text" class="form-control" maxlength="8" name="price">
            </div>
            <div class="form-group">
                <label class="col-form-label-lg">Beschreibung</label>
                <input type="text" maxlength="255" class="form-control" size="40" name="description">
            </div>
        </div>
        <div class="form-group">
            <label class="col-form-label-lg">Kategorie</label>
             <select class="form-select" name="category">
            <% categories.forEach(function(category){ %>
                <option value="<%= category.id %>"><%= category.name %></option>
            <% }); %>
            </select>
        </div>
        <button type="submit" class="green-button mt-4">Hinzufügen</button>
    </form>
</div>

<script>
    function validate() {
        console.log("Validate Price....")
        let price = document.querySelector("input[name='price']").value;
        console.log("Price: "+price)
        let doublePrice = price*2;
        if (Math.floor(doublePrice) == doublePrice)  {
            return true;
        } else {
            document.querySelector("#validationerror").style.display = "block";
            return false;
        }
    }
</script>