<div class="container">
    <form action="/meal/newAddImage" method="post">
        <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
        <div>
            <div class="form-group">
                <label class="col-form-label-lg">Name</label>
                <input type="text" class="form-control" maxlength="80" name="name">
            </div>
            <div class="form-group">
                <label class="col-form-label-lg">Preis</label>
                <input type="text" class="form-control" maxlength="8" name="price">
            </div>
            <div class="form-group">
                <label class="col-form-label-lg">Beschreibung</label>
                <input type="text" maxlength="255" class="form-control" size="40" name="description">
            </div>
        </div>
        <div class="form-group">
            <label class="col-form-label-lg">Kategorie</label>
             <select class="form-select" name="category">
            <% categories.forEach(function(category){ %>
                <option value="<%= category.id %>"><%= category.name %></option>
            <% }); %>
            </select>
        </div>
        <button type="submit" class="green-button mt-4">Bild Hinzufügen</button>
    </form>
</div>