<div class="container">
    <form action="/mealWithImage" method="post" enctype="multipart/form-data">
        <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
        <div>
            <div class="form-group mb-3">
                <label class="col-form-label-lg">Bild für <%= mealname%></label>
                <input type="file" class="form-control" name="image">
            </div>
        </div>
        <button type="submit" class="green-button mt-4">Speichern</button>
    </form>
</div>