/*Webfonts*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Open+Sans+Condensed:300i');

* {
    font-family: 'Open Sans', Arial, sans-serif;
    font-variant-ligatures: no-common-ligatures;
    font-weight: 300;
    margin: 0px;
}

body {
    font-size: 13px;
}

header {
    background-color: #F2DCC2;
    padding: 0px 2rem;
}

nav a {
    margin-left: 3rem;
    color: #85A60F;
    font-size: 1.5rem;
    text-decoration: underline #85A60F;
}

footer .footer-item li a {
    color:white;
    font-size: 1.2rem;
    text-decoration: underline white;
    border-bottom: 0px;
}


#logo {
    width:64px;
    height: 64px;
    vertical-align: middle;
}

h1 {
    padding: 10px;
    color: #5f5f64;
    font-size: 2.6em;
}

section {
    padding: 10px;
    color: #5f5f64;
    font-size: 1.4em;
    margin-top: 2em;
}

aside {
    color:  white;
    background-color: #6F92BF;
    padding: 2em;
    font-size: 1.2em;
}

footer {
    background-color: #85A60F;
    color:  white;
    font-size: 1.4em;
    font-weight: 300;
    margin-top: 2rem;
    padding: 2em;
}

footer li > a:not(.btn):hover {
    color:  white;
}

footer a {
    color:  white;
}

.kontakt {
    font-weight: bold;
}

.saison {
    font-style: italic;
}

.zeiten {
    font-weight: 600;
    margin-top: 1em;
}

section div {
    margin: 5px;
}

section .button {
    text-align: right;
}

.green-button {
    border-width: 3px;
    border-style: solid;
    border-color: #85A60F;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: #85A60F;
    background-color: white;

}

.green-button:hover {
    background-color: #85A60F;
    color: white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-container {
    display: flex;

}
.footer-item {
    flex-grow: 1;
    flex-basis: 50%;
}

.navbar a {
    color: #85A60F;
}

#header-account-menu-link {
    color: #85A60F;
}

.btn-outline-info {
    border-color: #85A60F;
}

@media screen and (max-width: 768px) {
    .footer-container {
        flex-wrap: wrap; 
    }
    
    .footer-item {
        flex-basis: 100%;
    }
}
